@import "tailwindcss";

@theme {
  --color-primary: #1F5C3A;
  --color-secondary: #2E7D32;
  --color-cream: #F9F6EE;
  --color-gold: #D4AF37;
}

body {
  background-color: var(--color-cream);
  color: #1a1a1a;
}
